//--------------------------------------------------------------
// Fifty / Fifty
//--------------------------------------------------------------

//-----------------------------------------
// Apply grid container mixins
//-----------------------------------------
.fifty-fifty {
	@include xy-grid;
	@include xy-grid-container;

	align-items: center;
	margin-bottom: rem-calc(90);
	margin-top: rem-calc(90);

	@include breakpoint(medium) {
		padding-left: 0;
		padding-right: 0;
	}

	&__left-half,
	&__right-half {
		@include xy-cell();

		@include breakpoint(medium) {
			@include xy-cell(6);
			@include xy-grid-collapse();
		}

	} // &__left-half, &__right-half

	&__left-half {
		@include breakpoint(medium) {
			padding-right: rem-calc(30);
		}
	} // &__left-half

	&__right-half {
		@include breakpoint(medium) {
			padding-left: rem-calc(30);
		}
	} // &__right-half


} // .fifty-fifty


//-----------------------------------------
// Fifty / fifty typography
//-----------------------------------------
.fifty-fifty {

	&__title {
		color: $color-scorpion;
		font-family: $font-serif;

		@include breakpoint(medium) {
			font-size: rem-calc(45);
			margin-bottom: rem-calc(15);
		}

		&::before {
			content: '';
			background-color: $primary-color;
			display: block;
			height: rem-calc(5);
			position: relative;
			top: rem-calc(-13);
			width: rem-calc(77);
		} // &::before
	} // &__title

} // .fifty-fifty