//--------------------------------------------------------------
// Recent Posts Cards
//--------------------------------------------------------------

//-----------------------------------------
// Recent Posts Card grid
//-----------------------------------------
.recent-posts {
	padding: rem-calc(60) 0;

	@include breakpoint(medium) {
		padding: rem-calc(102) 0;
	}

	&__card-container {
		@include xy-grid;
		@include xy-grid-container;

		@include breakpoint(smallmedium) {
			justify-content: space-between;
		}

		@include breakpoint(large) {
			padding-left: 0;
			padding-right: 0;
		}
	} // &__card-container

	.card {
		@include xy-cell();

		margin-left: auto;
		margin-right: auto;
		max-width: rem-calc(278);

		@include breakpoint(smallmedium) {
			@include xy-cell(6);

			margin-left: 0;
			margin-right: 0;
		}

		@include breakpoint(medium) {
			@include xy-cell(4);

			margin-left: 0;
			margin-right: 0;
		}
	} // .card
} // .recent-posts


//-----------------------------------------
// Recent Posts card typography
//-----------------------------------------
.recent-posts .card {

	&__title {
		font-size: rem-calc(20);
	} // &__title

	&__description {
		font-size: rem-calc(14);
		line-height: 1.25;
	} // &__description

	.card-section {
		background: $color-athens-gray;
	} // .card-section

} // .recent-posts .card