//--------------------------------------------------------------
// Site Header tweaks
//--------------------------------------------------------------

//-----------------------------------------
// Menu tweaks
//-----------------------------------------
.site-header .menu {
	margin-top: rem-calc(50);

	@include breakpoint(medium) {
		margin-top: 0;
	}

	a {
		color: $white;
	} // a

	// Only align-right at medium or wider.
	// Not sure why this isn't a thing in Foundation, tbh.
	&.medium-align-right {
		@include breakpoint(medium) {
			justify-content: flex-end;
		}
	} // &.medium-align-right

	// Slight button width tweak
	.button {
		margin: 0 rem-calc(15);

		@include breakpoint(medium) {
			margin: 0;
		}
	} // .button

} // .site-header .menu