//--------------------------------------------------------------
// Site Header tweaks
//--------------------------------------------------------------

//-----------------------------------------
// Menu tweaks
//-----------------------------------------
.site-header .menu {
	margin-top: rem-calc(50);

	@include breakpoint(medium) {
		margin-top: 0;
	}

	a {
		color: $white;

		&:not(.button):hover,
		&:not(.button):focus {
			text-decoration: underline;
		} // &:not(.button):hover, &:not(.button):focus
	} // a

	// Only align-right at medium or wider.
	// Not sure why this isn't a thing in Foundation, tbh.
	&.medium-align-right {
		@include breakpoint(medium) {
			justify-content: flex-end;
		}
	} // &.medium-align-right

	// Slight button width tweak
	.button {
		margin-left: rem-calc(15);
		margin-right: rem-calc(15);
		padding: 0.85rem 1.5rem;

		@include breakpoint(medium) {
			margin-right: 0;
		}

		@include breakpoint(large) {
			margin-left: rem-calc(25);
		}
	} // .button

} // .site-header .menu


//-----------------------------------------
// Title bar tweaks
//-----------------------------------------
.site-header {
	background: transparent;

	// Reset flex property to default.
	.title-bar-left {
		flex: 0 1 auto;
	} // .title-bar-left

} // .site-header


//-----------------------------------------
// Site header positioning
//-----------------------------------------
.site-header {
	position: absolute;
	top: rem-calc(20);
	width: 100%;

	@include breakpoint(medium) {
		left: 50%;
		transform: translateX(-50%);
	}
} // .site-header